@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto Mon");

.mono {
    font-family: "jetbrains mono", "roboto mono";
}
.header {
    border-color: lightskyblue;
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
}

/* Backgrounds */
.yellow-bg {
    background-color: yellow;
}
.orange-bg {
    background-color: orange;
}
.green-bg {
    background-color: green;
}
.silver-bg {
    background-color: silver;
}
.cyan-bg {
    background-color: cyan;
}

.icon {
    width: 25px;
    border-radius: 50%;
}

.footer-icon {
    width: 35px;
}

html {
    background-image: linear-gradient(
        to bottom right, #000011, purple
    );
    color: lightskyblue;
}
hr {
    height: 1px;
    color: beige;
    background-color: beige;
}
